
<!-- Exchanges Index -->

<div class='container'>
  <div class='row main'>
    <div class='col-lg-8 offset-lg-2 col-md-10 offset-md-1 exchange_box'>
      <div class='row'>
        <%= render 'shared/exchange_box' %>
      </div>
    </div>   
  </div>
</div>