<!-- HOME -->

<section>
  <div class="container">
    <div class="row main">
      <div class='col exchange_box text-center'>
        <%= image_tag('/logo.png') %>
      </div>
    </div>
      <h1 class="text-white text-center">Converta facilmente suas Moedas</h1>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-lg-6">
      <div class="card text-center">
        <h3>
          <%= link_to "MOEDAS", exchanges_index_path%>
        </h3>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card text-center">
        <h3>
          <%= link_to "CRYPTOMOEDAS", cryptos_index_path%>
        </h3>
      </div>
    </div>
  </div>
</section>